CC="/home/bob/Android/Sdk/ndk/25.1.8937393/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android31-clang -fPIC" ./configure --host=aarch64-linux-android --prefix=/tmp --disable-shared --enable-static --with-libssl-prefix=/home/bob/work/bhyve-qt/android_openssl 

configure: summary of build options:

  version:          1.11.0
  Host type:        aarch64-unknown-linux-android
  Install prefix:   /tmp
  Compiler:         /home/bob/Android/Sdk/ndk/25.1.8937393/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android31-clang -fPIC
  Compiler flags:   -g -O2
  Library types:    Shared=no, Static=yes
  Crypto library:   OpenSSL
  zlib compression: yes
  Clear memory:     yes
  Debug build:      no
  Build examples:   yes
  Run Docker tests: yes
  Run sshd tests:   yes
  Path to sshd:     /usr/bin/sshd (only for self-tests)

